<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <h1>HI, ADMIN <%= admin.username %></h1>

    <form>
        <label for="department">College Department</label><br>
        <select name="department" required>
            <option value="COE">College of Education</option>
            <option value="COENG">College of Engineering</option>
            <option value="CIT">College of Industrial Technology</option>
            <option value="COS">College of Science</option>
        </select><br>
        <label for="date">Date</label>
        <input type="date" name="date" required/>
        <br>
        <button>Search</button>
    </form>

    <script>
        const form = document.querySelector('form');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            //get the value from the form 
            const department = form.department.value;
            const date = form.date.value;

            try{
                const res = await fetch('/search', {
                    method:'POST',
                    body: JSON.stringify({
                        department,
                        date
                    }),
                    headers: {'Content-Type':'application/json'}
                });
                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    //something went wrong

                }
  
                if(data.admin) {
                    //success
                    //location.assign('/result')
                }
            }
            catch (err) {
                console.log(err)
            }
        });
    </script>

    
    <a href = "/logout"><button>Logout</button></a>
</body>
</html>